body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
    color: #333333;
  }
  
  form {
    text-align: center;
    margin: 20px 0;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #search-results {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    overflow: auto;
  }
  #results .movies-container .movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #results .movies-container .movies li {
    list-style: none;
    width: 23%;  
    margin: 10px;
    text-align: center;
  }
  
  #results .movies-container .movies li img {
    width: 100%; 
  }
  